@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    /* background-color: aquamarine; */
    margin: 0 auto;
}

header{
    background-color: #f9003d ;
    height: 60px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

.container_header{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blanchedalmond; */
    width: 590px;
    height: 100%;
}

.nav-header a{
    color: ghostwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue',cursive;
}

.btn-menu{
    display: none;
}

main{
    margin-top: 60px;
}

.baner_container{
    position: relative;
    height: 740px;
}

.fundo_baner{
    width: 100%;
    height: 740px;
}

.div-baner{
    position: absolute;
    top: 226px;
    left: 121px;
    display: flex;
    flex-direction: column;
}

h1{
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Bebas Neue',cursive;
    width: 515px;
    font-weight: 400;
}

hr{
    color: #ffaf00;
}

.div-baner span{
    color: #F9003D;
    font-size: 53px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
}

.div-baner img{
    width: 37px;
}

.container_projetos{
    background-color: #080324;
    height: 800px;
}

.container_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.container_projetos h2{
    color:  #F9003D;
    font-size: 40px;
    font-family: 'Bebas Neue',cursive;
    font-weight: 500;
    text-transform: uppercase;
}

.box_sobre{
    display: flex;
    justify-content: space-between;
}

.box_participantes{
    color: ghostwhite;
}
.box_participantes span{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}

.box_participantes h3{
    color: #ffaf00;
    text-transform: uppercase;
    width: 445px;
    font-size: 45px;
    font-weight: 300;
    font-family: 'Bebas Neue',cursive ;
    margin: 10px 0;
    
}

.box_participantes p{
    font-family: 'Open Sans', sans-serif;
    width: 592px;
    font-size: 18px;
    line-height: 25px;
}

.info{
    background-image: url(../assets/imagem-fundo-info.png);
}

.container_info{
    display: flex;
    justify-content: space-between;
    height: 193px;
}

.info h2{
    color: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.box_span{
    width: 289px;
    height: 100px;
    border: 1px solid #A259F7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.info span{
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
}

.endereco{
    background-image: url(../assets/imagem-fundo-endereco.png);
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.endereco h2{
    font-family:'Bebas Neue',cursive ; 
    font-size: 50px;
    font-weight: 400;
    color: #FFAF00;
    text-transform: uppercase;
    width: 899px;
    margin-bottom: 10px;
}

.box-endereco{
    display: flex;
    width: 899px;
    height: 203px;
    background-color: #010010;
    align-items: center;
    border: 2px solid #340B65;
}

.endereco p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #A259F7;
    width: 435px;
    margin-left: 66px;
}

.img-mapa{
    position: absolute;
    top: 115px;
    right: 375px;
}

footer{
    background: #F9003D;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    color:#FFFFFF;
    font-family:  'Open Sans', sans-serif;
    font-size: 18px;
}


@media (max-width:420px) {
    .container{
        width: 80vw;
    }

    .btn-menu{
        display: inline-block;
    }

    .btn-menu i {
        color: white;
        font-size: 30px;
    }

    .container_header{
        justify-content: flex-start;
        align-items: center;
    }

    .nav-header{
        height: 300px;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #010010;  
        
        top: 60px;
        left: 0;

        position: absolute;

    }
    
    .baner-container{
        display: flex;
        justify-content: center;
        height: 555px;
    }
    .baner_container {
        position: relative;
        height: 555px;
    }

    .fundo_baner{
        width: 100%;
        height:100%;
        object-fit: cover;
    }

    .div-baner{
        left: 0;
        align-items:center;
        top:90px;
    }
    
    h1{
        width: 90%;
        font-weight: bold;
        text-align: center;
    }

    hr{
        width:90%;
        margin: 30px 0;
    }

    .div-baner span{
        font-size: 35px;
        margin-top: 0%;
    }

    .div-baner img {
        width: 47px;
        margin-top: 30px;
    }

    .container_projetos{
        height: auto;
    }

    .img-box-sobre{
        width: 80vw;
    }

    .container_projetos h2{
        font-size:55px;
        margin: 20% 0 ;
    }

    .box_sobre{
        flex-direction:column;
    }

    .box_participantes{
        margin-top: 50px;
        padding-bottom:50px;
    }

    .box_participantes h3{
        width:auto;
        font-size:21px;
        margin: 50px 0;
    }

    .box_participantes p{
        width:auto;
        text-align: justify;
    }

    .container_info{
        flex-direction:column;
        height:600px;
        justify-content: space-evenly;
    }

    .endereco{
        height: 800px;
        justify-content: space-evenly;
    }

    .endereco h2{
        width: unset;
        margin-left: 80vw 0;
    }

    .box-endereco{
        width: 80vw;
        height: unset;
        padding: 60px 20px;
    }

    .endereco p {
        margin-left: auto;
    }

    .img-mapa{
        position: unset;
        width:80vw; 
        margin-bottom: 55px;
    }

    footer span {
        width: 80vw;
        text-align: center;
    }

}